name: Push to ECR
on:
  push:
    branches:
      - main
jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Pull Latest Changes
        run: |
          pwd
          cd ~/sai-web3
          export PATH=/usr/local/bin:$PATH
          git pull
          npm i
          npm run build
          kill $(lsof -t -i:3000)  # Killing any existing process on port 3000
      - name: Start Application
        run: |
          pwd
          cd ~/sai-web3
          nohup npm start &
                  
